<div class="header flex flex-col justify-center">
    <!-- <h1 class="headerFont ml-32 my-8 text-7xl text-gray-700 font-normal">TIME SQUARE BLOGS</h1>
    <p class="headerFont ml-32 w-2/3 text-2xl text-gray-500 txtFont">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae corrupti nemo impedit, veritatis vel dolorem quis, rerum est molestiae commodi.</p> -->
</div>