<header class="relative text-gray-600 interFont bg-orange">
    <div class="container mx-auto flex p-4 flex-row md:flex-col justify-center md:items-start items-center">
        <div class="z-20 container flex flex-row justify-between items-center mx-auto px-5 py-4">
            <img class="text-xl w-40 border-4 rounded-sm border-solid border-white flex title-font font-medium items-center text-gray-900 md:mb-0"
                src="/img/logo/tsb.png">
            <button id="navBtn"
                class="block md:hidden text-white text-4xl border-solid border-2 border-l-2 border-white rounded px-4 py-2 duration-300 hover:text-orange hover:bg-white"><i
                    class="fa fa-bars"></i></button>
        </div>
        <nav
            class="z-50 -top-40 md:-top-14 absolute w-screen md:w-auto md:relative pb-4 duration-300 md:pb-0 md:mx-auto flex md:flex-row flex-col items-center text-base justify-center text-gray-100 bg-orange md:bg-transparent">
            <a href="/" class="nav-link text-gray-100 text-xl mr-5 hover:text-gray-200 duration-200">Home</a>
            <a href="/about" class="nav-link text-gray-100 text-xl mr-5 hover:text-gray-200 duration-200">About</a>
            <a href="/#latest-blogs" class="nav-link text-gray-100 text-xl mr-5 hover:text-gray-200 duration-200">Blogs</a>
            <a href="/#subscribe" class="nav-link text-gray-100 text-xl mr-5 hover:text-gray-200 duration-200">Subscribe</a>
        </nav>
        
        <a class="flex flex-row justify-center items-center self-center md:block py-2 text-3xl px-3 border-white border-solid border-2 rounded text-orange bg-white hover:bg-orange hover:text-white duration-300"
        href="https://github.com"><i class="fa fa-github"></i></a>
    </div>
</header>
<!-- <a href="https://github.com"
    class="mx-auto md:absolute md:block hidden w-min self-center items-center py-2 text-3xl px-3 border-white border-solid border-2 rounded text-orange bg-white hover:bg-orange hover:text-white duration-300"><i
        class="fa fa-github"></i> -->


<!-- <header class="relative text-gray-600 interFont bg-orange">
    
    <div class="container mx-auto flex p-4 flex-row md:flex-col justify-center md:items-start items-center">
        <div class="z-50 container flex flex-row justify-between items-center mx-auto px-5 py-4">
            <img class="text-xl w-40 flex title-font font-medium items-center text-gray-900 md:mb-0"
                src="/img/logo/tsb.png">
        </div>
        <nav
            class="z-0 -top-40 md:-top-14 absolute w-screen md:w-min md:relative pb-4 duration-300 md:pb-0 md:mx-auto flex md:flex-row flex-col items-center text-base justify-center text-gray-100 bg-orange md:bg-transparent">
            <a href="/" class="text-gray-100 text-xl mr-5 hover:text-gray-200 duration-200">Home</a>
            <a href="/about" class="text-gray-100 text-xl mr-5 hover:text-gray-200 duration-200">About</a>
            <a href="/#latest-blogs" class="text-gray-100 text-xl mr-5 hover:text-gray-200 duration-200">Blogs</a>
            <a href="/#subscribe" class="text-gray-100 text-xl mr-5 hover:text-gray-200 duration-200">Subscribe</a>
        </nav>
        <div>
            <h2>Abhi</h2>
        </div>
    </div>

</header> -->