<div class="bg-gray-100 text-center py-20">
    <p class="p-2 text-4xl interFont font-medium text-gray-600 capitalize">Subscribe us to get latest blog in your
        email... </p>
    <div class="flex sm:flex-row flex-col justify-center items-center">
        <input class="txtFont outline-none bg-white mt-8 w-11/12 sm:w-2/5 py-4 px-7 text-base rounded-md" type="email"
            name="userEmail" id="emailInput" placeholder="Example123@gmail.com">
        <button class="txtFont text-lg py-2.5 sm:mx-5 sm:my-0 my-5 bg-gray-400 text-white hover:bg-red duration-200 rounded-md px-8"
            type="submit">Submit</button>
    </div>
</div>