<section id="subscribe" class="bg-orange">
    <div class="text-center pt-20 -mb-2 md:-mb-5 container mx-auto">
        <p class="p-2 text-4xl interFont font-medium text-white capitalize">Subscribe us to get latest blog in your
            email... </p>
        <div class="flex sm:flex-row flex-col justify-center items-center mt-8">
            <input class="interFont outline-none text-orange bg-gray-50 w-11/12 sm:w-2/5 py-4 px-7 text-base rounded-md"
                type="email" name="userEmail" id="emailInput" placeholder="Example123@gmail.com">
            <button
                class="interFont text-xl font-normal py-2.5 sm:mx-5 sm:my-0 my-5 border-2 border-solid border-white text-gray-50 hover:bg-white hover:text-orange duration-200 rounded-md px-8"
                type="submit">Submit</button>
        </div>
    </div>
</section>