@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --heightPic: 50vh;
}

.header {
    min-height: 70vh;
    background: rgb(255,237,218);
    background: radial-gradient(circle, rgba(255, 237, 218, 0.585) 0%, rgba(255, 36, 65, 0.578) 100%),url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: 'headerFont';
    src: url('../fonts/font.woff');
}
.headerFont{
    font-family: 'headerFont';
}
.txtFont{
    font-family: 'Gowun Dodum', sans-serif;
}
.interFont{
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.8px;
}