@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --heightPic: 50vh;
}

.header-sm{
    @apply md:h-96 h-56;
    /*Free Alternating Chevron SVG provided by SVGeez.com - CC 4.0 License - © 2019 Megan Young */
    background-color:rgb(255, 255, 255);
    fill:rgb(255, 64, 0);
    background-size:128px 128px;
    background-repeat:repeat;
    background-image:url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cstyle%3E.st0%7Bfill:rgb(255, 64, 0)%7D%3C/style%3E%3Cpath class='st0' d='M125 250v125l125 125V375zM250 125L125 0v125l125 125zM250 250v125l125-125V125zM500 250V125L375 0v125zM500 500V375L375 250v125zM125 500V375L0 500zM375 500V375L250 500zM250 0v125L375 0zM0 125L125 0H0zM0 250v125l125-125V125z'/%3E%3C/svg%3E");
}

.header {
    @apply md:h-96 h-56;
    /* background: linear-gradient(135deg, #eceddc 25%, transparent 25%) -50px 0,
                linear-gradient(225deg, #eceddc 25%, transparent 25%) -50px 0,
                linear-gradient(315deg, #eceddc 25%, transparent 25%),
                linear-gradient(45deg, #eceddc 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: rgb(255, 68, 0); */

    /* background: linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
                linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: #708090;
    background-size: 64px 128px; */

    /* background: radial-gradient(circle, rgba(255, 237, 218, 0.585) 0%, rgba(255, 36, 65, 0.578) 100%),url(../img/bg.jpg); */
    /* background-position: center; */
    /* background-size: cover; */

    /*Free Alternating Chevron SVG provided by SVGeez.com - CC 4.0 License - © 2019 Megan Young */
    background-color:rgb(255, 64, 0);
    fill:#fff;
    background-size:513px 513px;
    background-repeat:repeat;
    background-image:url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cstyle%3E.st0%7Bfill:rgba(255,255,255,1)%7D%3C/style%3E%3Cpath class='st0' d='M125 250v125l125 125V375zM250 125L125 0v125l125 125zM250 250v125l125-125V125zM500 250V125L375 0v125zM500 500V375L375 250v125zM125 500V375L0 500zM375 500V375L250 500zM250 0v125L375 0zM0 125L125 0H0zM0 250v125l125-125V125z'/%3E%3C/svg%3E");
}

@font-face {
    font-family: 'headerFont';
    src: url('../fonts/font.woff');
}
.headerFont{
    font-family: 'headerFont';
}
.txtFont{
    font-family: 'Gowun Dodum', sans-serif;
}
.interFont{
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.8px;
}
.navbar-active{
    top: 6rem !important;
}
.nav-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    @apply bg-gray-100;
    /* border-bottom: 12px solid black; */
    transition: 0.4s ease;
}
.nav-link:hover::after{
    width: 100%;
}

.navbar-link::after{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    @apply bg-orange;
    /* border-bottom: 12px solid black; */
    transition: 0.4s ease;
}
.navbar-link:hover::after{
    width: 100%;
}